#main_menu
  .item=link_to_unless_current "Quotemate", root_path
  .item=link_to_unless_current "Цитаты", quotes_path
  .item=link_to_unless_current "Авторы", "#"
  .item=link_to_unless_current "Произведения", sources_path
  .item=link_to_unless_current "Теги", tags_path
