- @search||=Quote.search(params[:search])
#main-menu
  #top-nav
    .main-item
      #logo
        :plain
          <a href="/"><span class="bold">Quote</span><span>mate</span></a>
    .search
      = form_for @search, :url => quotes_path, :html => {:method => :get} do |f|
        = "Искать"
        = f.text_field :text_contains
        = f.submit "Найти"
#bottom-nav
  .clearfix
  .item=link_to_unless_current "Цитаты", quotes_path
  .item=link_to_unless_current "Авторы", "#"
  .item=link_to_unless_current "Произведения", sources_path
  .item=link_to_unless_current "Теги", tags_path
  .clearfix

  =link_to "Добавить цитату", "#", {:id=>"add-quote", :class=> "red-dressed"}
