:erb
  <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="<%= ::I18n.locale %>"> <![endif]-->
  <!--[if IE 7]> <html class="no-js ie7 oldie" lang="<%= ::I18n.locale %>"> <![endif]-->
  <!--[if IE 8]> <html class="no-js ie8 oldie" lang="<%= ::I18n.locale %>"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="<%= ::I18n.locale %>"> <!--<![endif]-->