#header {
  margin-bottom: 30px;

  #main-menu {
    background-color: #d9d9d9;
    position: relative;
    padding: 15px;
    margin-bottom: 20px;
      #top-nav{
        @include centered;
        width: 1000px;
        margin-bottom: 20px;
        .main-item{
          float: left;
          #logo{
            font-size: 30px;
            .bold{
            font-weight: bold;
            }
            span{
              padding:0;
              margin:0;
            }
            a{
             text-decoration: none;
             color:black; 
            }
          }
        }
        .search{
          float: right;
        }
    }
  }

  #bottom-nav {
    @include centered;
    width: 1000px;
    .item {
      @include inline-block;
      @include title-font;
      font-size: 18px;
      vertical-align: top;
      margin-right: 1em;

      a {
        &:hover {
          color: $link-color;
          text-decoration: underline;
        }
      }

      &.current a {
        text-decoration: underline;
      }

      &.small {
        font-size:14px;
      }
    }

    #add-quote{
      float: right;
      margin-bottom:10px;
  }
  }
}