html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 1060px;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
}


@import "layout/header";

#wrap{
  
  @include centered;
  min-height:100%;
  height: auto !important;
  height: 100%;
  width: $global-width;

  #page {
    padding-bottom: $footer-height + 20px;

    #main {
      float:left;
      width: 1000px;
      margin-bottom: 20px;
      
      .board {
        @import "layout/devise";
        
        background-color: #e6e6e6;
        padding: 20px;
        @include border-radius(5px);
        
        .tagline {
          margin-top: 20px;
          margin-bottom: 30px;
        }
        
        .links {
          text-align: center;
          float: left;
          
          .item {
            @include inline-block;
            text-align: left;
            vertical-align: top;
            align: center;
            width: 275px;
            margin: 0 5px 1em 5px;

            .title {
              font-size: 22px;
              text-align: left;   
              text-decoration: underline;
              margin-bottom: 8px;  
            }

            .photo {
              height: 135px;
              width: 225px;
              text-align: left;
              margin-bottom: 10px;
            }
          }
        }
      }
      
      &.full {
        width: 100%;
        float: none;
      }
    }

    #right {
      float:right;
      width: 250px;
      margin-bottom: 20px;
      
      .banner {
        max-width: 250px;
        overflow: hidden;
        margin-bottom: 20px;
      }
    }
  }
}
@import "layout/footer";