// Place all the styles related to the quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item{
 .photo{
   width: 150px;
 } 
 .quote-text{
   width: 700px;
 }
 .actions{
   width: 100px;
 }
}
.column {
  float: left;
}