// Place all the styles related to the quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item{
 .photo{
   width: 150px;
 } 
 .quote-text{
   width: 700px;
 }
 .actions{
   width: 100px;
 }
}
.column {
  float: left;
}

#add-quote{
	background: asset-data-url("blue-button.png");
	padding-left: 90px;
	padding-right: 90px;
	padding-top:15px;
	padding-bottom:15px;
	font-size: 16px;
	float:right;
}

#quote-tabs  > ul {
	list-style-type: none;
	margin-top: 2em;
	text-align: left;
}

#quote-tabs > ul > li{
	display: inline;
	border: 1px solid #a6a6a6;
	padding: 10px;
	margin-right: 4px;
	.selected{
		background-color: #d9d9d9;
	}
}

#search-tab{
	border: 1px solid #a6a6a6;
	padding: 10px;
	background-color: #d9d9d9;
}
